.App {
  text-align: center;
}

.App-header {
  background-color: #010E16;
  padding: 5px;
  color: white;
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

.todo-input {
  padding: .4em;
  width: 275px;
  font-size: 18px;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.7);
}

.todo-checkbox {
  margin-right: .6em;
}

.todo-input::placeholder {
  font-family: monospace;
  font-size: 14px;
}

.todo-input:hover {
  border: 1px solid rgba(255,255,255,0.6);
}

.todo-links {
  color: white;
  text-align: center;
}

.todo-links a {
  text-decoration: none;
  color: greenyellow;
}

.todo-info {
  margin-top: 10px;
  color: greenyellow;
  text-align: center;
}

ul {
  padding: 0px;
  color: #99cee0;
}

li {
  background: rgba(1,29,40,.5);
  font-size: 16px;
  list-style-type: none;
  border: 1px solid rgba(255,255,255,0.3);
  padding: .5em;
  border-radius: 4px;
}

li:nth-child(n+2) {
  margin-top: .3em;
}

li:hover {
  background: rgba(1,29,40,.3);
  border: 1px solid rgba(255,255,255,0.6)
}

li span.delete-item {
  visibility: hidden;
  float: right;
  margin-left: 10px;
}

li:hover span.delete-item {
  visibility: visible;
}

.close {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
}
.close:hover::before, .close:hover::after {
  background: rgb(255,50,0);
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.black::before, .close.black::after {
  height: 4px;
  margin-top: -1px;
}

.close.rounded::before, .close.rounded::after {
  border-radius: 2px;
}

.squaredThree {
  width: 15px;
  position: relative;
  margin: 20px auto;
}
.squaredThree label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.3);
}
.squaredThree label:after {
  content: '';
  width: 6px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.login-button {
  background: rgba(1,29,40,.5);
  font-size: 16px;
  border: 1px solid rgba(255,255,255,0.3);
  padding: .5em;
  border-radius: 4px;
  margin: 0 30.5%;
  color: cornflowerblue;
}

.login-button:hover {
  background: rgba(1,29,40,.3);
  border: 1px solid rgba(255,255,255,0.6);
  color: white;
  cursor: pointer;
}
